In [4]:
import requests
import csv

In [29]:
################################### Task 1############################


responseT1 = requests.get("https://api.frankfurter.app/latest?amount=1&from=USD&to=EUR")

responseT1 = responseT1.json()

In [30]:
responseT1

{'amount': 1.0, 'base': 'USD', 'date': '2022-02-04', 'rates': {'EUR': 0.8723}}

In [31]:
USD_EUR_Rate = float(responseT1['rates']['EUR'])

In [32]:
USD_EUR_Rate

0.8723

In [33]:
amountfromuser = float(input('Enter amount in USD '))
Amount = amountfromuser * USD_EUR_Rate
print('{} USD is {} EUR'.format(amountfromuser,Amount))

Enter amount in USD 12000
12000.0 USD is 10467.6 EUR

In [36]:
# To change 1 $ to 10 in URL :
# We can write 1 instead of 10 https://api.frankfurter.app/latest?amount=10&from=USD&to=EUR

responseT1_1 = requests.get("https://api.frankfurter.app/latest?amount=10&from=USD&to=EUR")
responseT1_1 = responeT1_1.json()

In [37]:
responseT1_1['rates']['EUR']

8.723

In [38]:
USD_EUR_Rate2 = float(responseT1_1['rates']['EUR'])
amountfromuser2 = float(input('Enter amount in USD '))
Amount2 = amountfromuser2 * USD_EUR_Rate2
print('{} USD is {} EUR'.format(amountfromuser2,Amount2))

Enter amount in USD 12000
12000.0 USD is 104676.00000000001 EUR

In [40]:
################################### Task 2############################


responseT2 = requests.get("https://www.metaweather.com/api/location/1521894/")

responseT2 = responseT2.json()

In [45]:
responseT2.keys()

dict_keys(['consolidated_weather', 'time', 'sun_rise', 'sun_set', 'timezone_name', 'parent', 'sources', 'title', 'location_type', 'woeid', 'latt_long', 'timezone'])

In [54]:
responseT2['consolidated_weather'][0]

{'id': 5160739699425280,
 'weather_state_name': 'Light Cloud',
 'weather_state_abbr': 'lc',
 'wind_direction_compass': 'W',
 'created': '2022-02-06T04:34:22.465598Z',
 'applicable_date': '2022-02-06',
 'min_temp': 8.805,
 'max_temp': 19.21,
 'the_temp': 17.6,
 'wind_speed': 4.1947014165752,
 'wind_direction': 277.8513354927971,
 'air_pressure': 1025.5,
 'humidity': 56,
 'visibility': 11.122855026644396,
 'predictability': 70}

In [55]:
Temp_data = []

In [57]:
for reading in responseT2['consolidated_weather']:
    lst = [reading['applicable_date'],reading['min_temp'],reading['max_temp'],reading['humidity'],reading['visibility']
          ,reading['air_pressure'],reading['wind_speed']]
    
    Temp_data.append(lst)

In [58]:
with open("tempz.csv", 'w', newline="") as f :
    writer = csv.writer(f)
    writer.writerow(['Day', 'Temp', 'Humidity', 'Visibility', 'Air-Pressure', 'WindSpeed'])
    writer.writerows(Temp_data)

In [8]:
################################### Task 3 ############################




response = requests.get("https://jsonplaceholder.typicode.com/users")
response = response.json()

In [19]:
response[0].keys()

dict_keys(['id', 'name', 'username', 'email', 'address', 'phone', 'website', 'company'])

In [20]:
userdata=[]

In [24]:
for aresp in response:
    lst = [aresp['name'], aresp['username'], aresp['email'], aresp['address']['street'], aresp['address']['suite'],
           aresp['address']['city'], aresp['address']['zipcode'], 
           aresp['address']['geo']['lat'], aresp['address']['geo']['lng']]
    
    userdata.append(lst)

In [26]:
userdata[0]

['Leanne Graham',
 'Bret',
 'Sincere@april.biz',
 'Kulas Light',
 'Apt. 556',
 'Gwenborough',
 '92998-3874',
 '-37.3159',
 '81.1496']

In [27]:
with open("userz.csv", 'w', newline="") as f :
    writer = csv.writer(f)
    writer.writerow(['name', 'user-name', 'email', 'street', 'suite', 'city', 'zipcode', 'geo-lat', 'geo-long'])
    writer.writerows(userdata)